<ion-view view-title="Transaction">
    <ion-header-bar class="bar-header bar-positive">        
        <a href="#/panda_transaction" class="button icon-left ion-chevron-left button-clear ">Back</a>
        <h1 class="title">Create Transactions</h1>
    </ion-header-bar>

    <ion-content class="padding">
        <h1 class="title-1">Transaction Details</h1>
        
        <div class="item item-image">
            <img src="img/iphone5.jpg">
        </div>
        
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Transaction Title</span>
                <input  id="transaction_title" type="text" placeholder="Transaction Title">
            </label>
            
            <label class="item item-input item-floating-label">
                <span class="input-label">Transaction Description</span>
                <input id="transaction_description" type="text" placeholder="Transaction Description">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Seller Name</span>
                <input id="transaction_description" type="text" placeholder="Seller Name">
            </label>
            
            <label class="item item-input item-floating-label">
                <span class="input-label">Amount</span>
                <input id="transaction_amount" type="number" placeholder="Amount">
            </label>
        </div>

        <button class="button button-full button-positive" ng-click="createTransaction()">
          Create
        </button>
    </ion-content>
</ion-view>


