
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Notifications" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="welcome"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Transaction" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="home/transaction">
    <ion-nav-view name="transaction"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-cart-outline" icon-on="ion-ios-gear" href="#/home/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
