
<ion-view>
  
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>
      <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="First Name" id = "new_user_name">
        </label>
        
        <button class="button button-full button-positive" ng-click = "createUser()">
          Login
        </button>
    </div>
  </ion-content>

</ion-view>
