<ion-view view-title="Transaction">
    <ion-header-bar class="bar-header bar-positive">
        <a href="#/logout" class="button button button-stable ">Logout</a>
        <h1 class="title">Transactions</h1>
        <a href = "#/create_transaction" class="button button-stable">Add</a>
    </ion-header-bar>

    <ion-content class="padding">
        
        <div class="list" ng-repeat="transaction in transactions">
            
            <div class="item item-thumbnail-left" href="#">
                <img src="img/pic.jpg">
                <div class="remove-decor">
                    <h2>Title: <span class="remove-decor">{{transaction.title}}</span></h2>
                    <h2>Seller Name: <span class="remove-decor">{{transaction.seller}}</span></h2>
                    <h2>Description: <span class="remove-decor">{{transaction.description}}</span></h2>
                    <h2>Amount: <span class="remove-decor">{{transaction.amount}}</span></h2>
                    <h2>Status: <span ng-click = "approve({{transaction.id}})"class="remove-decor">{{transaction.status}}</span></h2>
                </div>
                
            </div>
        </div>
    </ion-content>
</ion-view>
