<ion-view view-title="Transaction">
    <ion-header-bar>
        <button class="button icon ion-ios-plus-outline"></button>
        <h1 class="title">Transactions</h1>
        <button class="button">Edit</button>
    </ion-header-bar>

    <ion-content class="padding">
        
        <div class="list">
            <a class="item item-thumbnail-left" href="#">
                <img src="img/pic.jpg">
                <h2>Emeka Osuagwu 
                    <span style ="float:right;"> 
                        <select>
                          <option>Blue</option>
                          <option selected>Green</option>
                          <option>Red</option>
                        </select>
                    </span>
                </h2>
                <p>iPhone 5c Purchase</p>
                <p>Pendding</p>
                
            </a>
        </div>

    

    </ion-content>
</ion-view>
