<ion-view view-title="Transaction">
    <ion-header-bar class="bar-header bar-positive">
        <a href="#/logout" class="button button button-stable ">Logout</a>
        <h1 class="title">Transactions</h1>
        <a href = "#/create_transaction" class="button button-stable">Add</a>
    </ion-header-bar>

    <ion-content class="padding">
        
        <div class="list" ng-repeat="transaction in transactions">
            
            <div class="item item-thumbnail-left" href="#">
                <img src="img/pic.jpg">
                <a href="#/transaction/{{transaction.id}}" class="remove-decor">
                <h2>{{transaction.title}}
                    <span style ="float:right;"> 
                        <select>
                          <option>Blue</option>
                          <option selected>Green</option>
                          <option>Red</option>
                        </select>
                    </span>
                </h2>
                <p>{{transaction.description}}</p>
                <p>{{transaction.status}}</p>
                </a>
                
            </div>
        </div>
    </ion-content>
</ion-view>
